/* Navbar */
.search {
    margin: 0 auto;
    width: 50%;
}

.button {
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #1172da;
}

/* Updated Logo Class */
.logo {
    max-height: 50px; 
    max-width: 10px; 
    display: block; 
    margin-left: 50px;
}

.login {
    float: right;
}

.sign {
    float: right;
    margin-left: 10px; /* Adds space between the login and signup buttons */
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .navbar-collapse {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .search {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .button {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }
}
/* navbar links    */
.info-item {
    position: relative;
    margin: 20px;
}
.nav {
    margin-right: 20px;
    margin-left: 20px;
}

/* Main shooping  */

.main {
    margin-top: 20px;
    display: flex;
    padding-left: 200px;
}
.side-bar {
    position: fixed;
    min-width: 200px;
    height: 100vh;
    background-color: #107eec;
    left: 0;
    top: 0;
    padding-left: 0;
    padding-right: 10px;
    border-right: 1px solid #ccc;
}
.row {
    flex: 1;
    margin-left: 280px; 
}

@media (max-width: 1030px) {
    .col-3 {
        flex: 0 0 48%; 
        max-width: 48%; 
    }
    .row {
        width: 10rem;
    }
}