/* Navbar */
.search {
    margin: 0 auto;
    width: 50%;
}

.button {
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #1172da;
}

/* Updated Logo Class */
.logo {
    max-height: 50px; 
    max-width: 10px; 
    display: block; 
    margin-left: 50px;
}

.login {
    float: right;
}

.sign {
    float: right;
    margin-left: 10px; /* Adds space between the login and signup buttons */
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .navbar-collapse {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .search {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .button {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }
}
/* navbar links    */
.container-fluid.info-button {
    position: relative;
    /* margin: 15px; */
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(48, 47, 47, 0.1);
}
.nav {
    margin-right: 20px;
    margin-left: 20px;
}

/* Main shooping  */

.container-fluid.main {
    display: flex;
    align-items: flex-start;
    background-color: rgba(221, 224, 219, 0.322);
}
.container-fluid.main.side-bar {
    border-radius: 2px;
}
.row.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 0;  
}
.col-3 {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0;
}

.card {
    margin-bottom: 15px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}
.card-img-top{
    width: 100%;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: contain;
    margin-top: 8px;
}

/* Cards */
@media (max-width: 1030px) {
    .col-3 {
        flex: 0 0 48%; 
        max-width: 48%; 
    }
    .row {
        width: 10rem;
    }
}